/* Stylesheet for sentry */
.sentry-relative {
    position: relative
}
.sentry-flex {
    display: flex
}
.sentry-h-2 {
    height: 0.5rem
}
.sentry-w-2 {
    width: 0.5rem
}
.sentry-min-w-0 {
    min-width: 0px
}
.sentry-flex-auto {
    flex: 1 1 auto
}
.sentry-flex-none {
    flex: none
}
.sentry-items-center {
    align-items: center
}
.sentry-gap-x-2 {
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem
}
.sentry-gap-x-2\.5 {
    -moz-column-gap: 0.625rem;
         column-gap: 0.625rem
}
.sentry-gap-x-3 {
    -moz-column-gap: 0.75rem;
         column-gap: 0.75rem
}
.sentry-space-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}
.sentry-divide-y > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse))
}
.sentry-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.sentry-rounded-full {
    border-radius: 9999px
}
.sentry-bg-current {
    background-color: currentColor
}
.sentry-bg-gray-100\/10 {
    background-color: rgb(243 244 246 / 0.1)
}
.sentry-p-1 {
    padding: 0.25rem
}
.sentry-p-4 {
    padding: 1rem
}
.sentry-text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem
}
.sentry-text-xs {
    font-size: 0.75rem;
    line-height: 1rem
}
.sentry-font-semibold {
    font-weight: 600
}
.sentry-leading-5 {
    line-height: 1.25rem
}
.sentry-leading-6 {
    line-height: 1.5rem
}
.sentry-text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}
.sentry-text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}
.sentry-text-green-500 {
    --tw-text-opacity: 1;
    color: rgb(34 197 94 / var(--tw-text-opacity))
}
.sentry-text-red-500 {
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity))
}

